/* #root {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

test-color {
  color: #F4F4F2;
}
