@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: #f3efef;
}

#root {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@layer components {
  .my-error {
    color: #ac1f1f;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .my-para {
    @apply text-[#48484A] text-sm
  }

  .my-hr {
    @apply text-gray-300 mt-2 mb-2
  }

  .my-card {
    @apply bg-white border-gray-300 p-5 rounded-lg shadow-lg
  }

  .my-input {
    @apply bg-white border border-gray-300
  }

  .my-btn-primary {
    @apply btn btn-primary border-none bg-[#0F0F10] text-white shadow-none;
  }

  .my-btn-secondary {
    @apply btn btn-secondary bg-white border-slate-400 shadow-none text-slate-800;
  }
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
